.post-snippet-output-cst {
  border-bottom: 1px solid var(--project-primary);
  margin-bottom: 15px;
  padding:15px 0;
  a {
    color: var(--light-project-primary);
    text-transform: uppercase;
  }
}