# This project is inside the theme only so isn't ignoring config, wp-content and other suggested security files - bare in mind if you create the repo in root.

# npm packages 
node_modules
node_modules/*

package-lock.json

# again remember to ignore htaccess, config, secure uploads etc if you are making a repo from root, this is just a theme repository.