@use 'sass:map';
@use 'sass:math';
@use 'sass:string';
// Breakpoints //
$breakpoints: (
  'xs': 375px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1440px,
  'xl': 1920px,
);
@mixin breakpoint($size) {
  $breakpoint: map.get($breakpoints, $size);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
        @content;
    }
  }
}
// remove scroll bars //
@mixin remove-scrollbars() {
  -webkit-overflow-scrolling: touch; 
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &::-webkit-scrollbar {
    display: none; 
  }
}
// Image stetech to relative wrapper //
@mixin strech-img() {
  position: absolute;
  top:0; left:0;
  width:100%; height:100%;
  object-fit: cover;
  object-position: center;
}
// Resuable font with desktop and mobile input //
@mixin responsive-font( $desktop: 1, $tablet: 1, $mobile: 0.75 ) {
  font-size: $desktop + rem;
  line-height: calc($desktop + 1) + rem;
  @media only screen and (max-width: 998px) {
    font-size: $tablet + rem;
  }
  @media only screen and (max-width: 520px) {
    font-size: $mobile + rem;
  }
}