@use "./../../global/colour_scheme" as *;
.post-snippet-output-cst {
  border-bottom: 1px solid $default;
  margin-bottom: 15px;
  padding:15px 0;
  a {
    color: $default;
    text-transform: uppercase;
  }
}