@use "./../../global/colour_scheme" as *;
.basetheme-footer-cst {
  border-top: 5px solid $default;
  margin-top: 25px;
  padding:25px 0;
  .ftr-container-cst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__menu--wrap {
      ul {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        li {
          display: inline-block;
          position: relative;
          padding-right: 10px;
          &:after {
            content: '';
            height:100%;
            width:1px;
            background-color: black;
            position: absolute;
            right:2.5px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    &__date--wrap {
      span {
        font-size: 0.75rem;
        font-weight: 700;
      }
    }
  }
}