.header-cst {
  background-color: var(--project-primary);
  z-index: 99;
  width:100%;
  .hdr-container-cst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:75px;
    color: var(--white);
    &__logo--wrap {
      span {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    &__menu--wrap {
      height:100%;
      nav {
        height:100%;
        ul {
          height:100%;
          li {
            position: relative;
            display: inline-block;
            height:100%;
            a {
              color: inherit;
              display: flex;
              align-items: center;
              justify-content: center;
              height:100%; 
              width:100%;
              padding:1rem; 
              text-decoration: none;
              font-weight: 700;
              color: var(--white);
            }
            // Dropdown //
            .sub-menu {
              visibility: hidden;
              opacity: 0;
              position: absolute;
              z-index: 10;
              height:auto !important;
              left:0;
              top:100%;
              width:auto;
              white-space: nowrap; 
              transition: 0.25s all;
              background-color: var(--white);
              border: 1px solid var(--project-primary);
              border-top:0;
              border-bottom:0;
              li {
                display: block;
                border-bottom:1px solid var(--project-primary);
                a {
                  justify-content: flex-start;
                  color: var(--black);
                  font-weight:400; 
                }
                .sub-menu {
                  left: 100%;
                  top:0;
                  transition: 0.25s all;
                  li {
                    a {
                      color: var(--black);;
                      // disable further tier support //
                      .sub-menu {
                        display: none; 
                      }
                    }
                    &:last-child {
                      border-top: 0;
                    }
                  }
                }
              }
            }
            .bst-opt-chevron-active-cst {
              display: none;
              align-items: center;
              justify-content: center;
              height:100%;
              margin: 0 0 0 0.25rem;
              position: relative;
              right:-0.25rem;
              svg {
                width:1rem; height:1rem;
              }
            }
          }
          .menu-item-has-children {
            .sub-menu {
              .bst-opt-chevron-active-cst {
                display: none;
              }
              .menu-item-has-children {
                .bst-opt-chevron-active-cst {
                  display: flex;
                  transform: rotate(-90deg);
                  margin: 0 0 0 auto;
                  right:0;
                  svg {
                    fill: var(--black)
                  }
                }
                li {
                  border-top:0;
                  .bst-opt-chevron-active-cst {
                    display: none; 
                  }
                }
              }
              
            }
            &:hover {
              .sub-menu {
                visibility: visible;
                opacity: 1;
                li {
                  .sub-menu {
                    visibility: hidden;
                    opacity: 0;
                  }
                  &:hover {
                    .sub-menu {
                      visibility: visible;
                      opacity: 1;
                    }
                  }
                }
              }
            }
            .bst-opt-chevron-active-cst {
              display: flex;
              svg {
                fill: var(--white)
              }
            }
          }
        }
      }
      @media only screen and (max-width: 998px) {
        display: none;
      }
    }
    .mbl-toggle-wrapp {
      display: none;
      width:2rem;
      z-index: 99;
      cursor: pointer;
      span {
        display: block; 
        border: none;
        height: 0.2rem;
        width: 100%;
        transition:  all .35s ease;
        background-color: var(--white);
        &:nth-of-type(2) {
          margin-top: 0.5rem;
        }
        &:nth-of-type(3) {
          margin-top: 0.5rem;
        }
      }
      &.mbl-toggle-activated {
        span {
          transform: rotate(45deg);
          margin:0;
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
            margin-top:-0.2rem;
          }
        }
      }
      @media only screen and (max-width: 998px) {
        display: block;
      }
    }
  }
}