.post-snippet-output-cst {
  border: 2px solid var(--project-primary);
  padding: 2rem;
  border-radius: var(--border-radius-sm);
  a {
    color: var(--light-project-primary);
    text-transform: uppercase;
  }
}