@use "./../global/colour_scheme" as *;
.wpcf-extension-wrap-cst {
  padding:0 0 2rem 0;
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  textarea,
  select  {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    padding: 1rem;
    margin:0 0 1rem 0;
    width:100%;
    box-shadow: none;
    background-color: #FFFFFF;
    color: #000000;
    font-family: inherit;
    border:1px solid #eee;
    border-radius: 0;
    -webkit-appearance: none;
  }
}
.wpcf7-spinner {
  display: block;
  margin:1rem auto 0 auto;
}
// Custom accceptance //
.custom-acceptance-cst {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  border:1px solid red;
  &__checkbox {
    width:28px;
    height:28px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border:1px solid $black;
    position: relative;
    margin-right: 10px;
    &:before {
      content: '';
      position: absolute;
      display: none;
      top:4px;left:4px;
      width: 18px;
      height: 18px;
      background-color: green;
      border-radius: 50%;
    }
    &--active {
      &:before {
        display: block;
      }
    }
  }
  &__message {
    max-width: calc(100% - 28px);
    p {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  &--error {
     p {
      border-bottom: 1px solid red;
    }
  }
  .wpcf7-form-control-wrap {
    // display: none;
  }
}
// Errors //
.wpcf7-response-output {
  margin: 0 auto !important;
  padding: 0.75rem !important;
  border:0 !important;
  border-radius: 0;
  font-size: 0.75rem;
  line-height: 1.2rem;
  text-align: center;
  width: 100%;
}
.alertform-success {
  background-color: green;
  color: #FFFFFF;
}
.alertform-warning {
  background-color: orange;
  color: #FFFFFF;
}
.alertform-danger {
  background-color: red;
  color: #FFFFFF;
}
span.wpcf7-not-valid-tip {
  position: absolute;
  z-index: 0;
  bottom: 0.25rem;
  right:0.5rem;
  font-size: 0.5rem;
  line-height: 1rem;
  color: red;
}
