@use "./../global/colour_scheme" as *;
// to prevent the other files being clogged up by CSS that controls key hover states like dropdowns etc (things you won't need to change), those classes are added here - don't remove them or menus etc will stop working //
// [0] Desktop hover menu, three tier support) // 
.cst-desktop-menu-glb-spt {
  .container-cst {
    nav {
      height:100%;
      ul {
        height:100%;
        li {
          position: relative;
          display: inline-block;
          height:100%;
          a {
            color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            height:100%; 
            width:100%;
            padding:15px; 
            text-decoration: none;
          }
          // Dropdown hover control //
          .sub-menu {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            z-index: 10;
            height:auto !important;
            left:0;
            top:100%;
            width:auto;
            white-space: nowrap;
            transition: 0.25s all;
            // add dropdwon styles here //
            background-color: $white;
            border: 1px solid $mainBG;
            border-top:0;
            li {
              display: block;
              border-bottom:1px solid $mainBG;
              a {
                justify-content: flex-start;
              }
              .sub-menu {
                left: 100%;
                top:0;
                transition: 0.25s all;
                li {
                  .sub-menu {
                    // prevent further, only support three tier //
                    display: none; 
                  }
                }
              }
              &:last-child {
                border-bottom: 0;
              }
            }
          }
          // Drodown chevs //
          .bst-opt-chevron-active-cst {
            display: none;
            align-items: center;
            justify-content: center;
            height:100%;
            margin: 0 0 0 5px;
            svg {
              width:12px; height:12px;
            }
          }
        }
        .menu-item-has-children {
          .sub-menu {
            .bst-opt-chevron-active-cst {
              display: none;
            }
            .menu-item-has-children {
              .bst-opt-chevron-active-cst {
                display: flex;
                transform: rotate(-90deg);
                margin: 0 0 0 auto;
              }
              li {
                // prevent further, only support three tier //
                .bst-opt-chevron-active-cst {
                  display: none; 
                }
              }
            }
            
          }
          &:hover {
            .sub-menu {
              visibility: visible;
              opacity: 1;
              li {
                .sub-menu {
                  visibility: hidden;
                  opacity: 0;
                }
                &:hover {
                  .sub-menu {
                    visibility: visible;
                    opacity: 1;
                  }
                }
              }
            }
          }
          .bst-opt-chevron-active-cst {
            display: flex;
          }
        }
      }
    }
  }
}
#mbl-menu-ovrr-wrapp {
  position: fixed;
  z-index:50;
  background-color: $mainBG;;
  top: 75px; // or change to your header height //
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  opacity: 0;
  visibility: hidden;
  overflow: scroll;
  transition: 0.5s all;
  // active //
  &.activated-mbl-menu-ovrr-wrapp {
    opacity: 1;
    visibility: visible;
  }
  // don't allow to show when the desktop menu is available (so block to the same query you as desktop) // 
  @media only screen and (min-width: 998px) {
    display: none;
  }
}

