@use "./typography";
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
html {
	scroll-behavior: smooth;
	font-size: 16px;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	position: relative;
	min-height:100vh;
	display: grid;
  grid-template-rows: auto 1fr auto; 
}
.global-block-body-scroll-cst {
	overflow: hidden;
}
#main-cst-theme-wrap-cst {
}
.container-cst {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 25px;
  @media only screen and (min-width: 1225px) {
		padding:0;
  }
}
img {
  max-width:100%;
}
a {
	color: inherit;
	text-decoration: none;
}