@use "./typography";
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
html {
	scroll-behavior: smooth;
	font-size: var(--body-origin);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	position: relative;
}
.global-block-body-scroll-cst {
	overflow: hidden;
}
#main-cst-theme-wrap-cst {
	overflow-x: hidden;
}
.container-cst {
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--mobile-padding);
	&[data-contain="yes"] { 
		max-width: var(--container-max);
	}
	@media only screen and (min-width: 998px) {
		padding: 0 var(--desktop-padding);
	}
}
img {
  max-width:100%;
}
a {
	color: inherit;
	text-decoration: none;
}