@use "./typography";
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
html {
	scroll-behavior: smooth;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.global-block-body-scroll-cst {
	overflow: hidden;
}
.container-cst {
	max-width: 1220px;
	width: 100%;
	margin: 0 auto;
  @media only screen and (max-width: 1215px) {
		padding-left:20px;
		padding-right: 20px;
  }
}
img {
  max-width:100%;
}
a {
	color: inherit;
	text-decoration: none;
}
// feel free to remove //
#base-master-default-content-cst {
	padding:100px 0;
	text-align: center;
	min-height: calc(100vh - 80px);
	display: flex;
	align-items: center;
	.container-cst {
		max-width:998px;

		h4 {
			font-style: italic;
			margin-top: 50px;
		}
	}
}