@use "./../global/colour_scheme" as *;
#base-master-fttr-cst {
  border-top: 2px solid $mainBG;
  margin-top: 25px;
  padding:25px 0;
  .container-cst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-menu-cst {
      ul {
        list-style-type: none;
        text-transform: uppercase;
        font-size: 14px;
        li {
          display: inline-block;
          position: relative;
          padding-right: 10px;
          &:after {
            content: '';
            height:100%;
            width:1px;
            background-color: black;
            position: absolute;
            right:2.5px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .date-wrapp-cst {
      span {
        font-size:14px;
      }
    }
  }
}