@use "./../global/colour_scheme" as *;
@use "./../mixins/font_sizes" as *;
#base-master-hdr-cst {
  background-color: $mainBG;
  position: fixed;
  width:100%;
  top:0;
  .container-cst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:75px;
    color: $white;
    .logo-wrapp-cst {
      padding:15px;
      span {
        font-size:2em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .menu-wrapp-cst {
      height:100%;
      nav {
        height:100%;
        ul {
          height:100%;
          li {
            position: relative;
            display: inline-block;
            height:100%;
            a {
              color: inherit;
              display: flex;
              align-items: center;
              justify-content: center;
              height:100%; 
              width:100%;
              padding:15px; 
              // styling //
              text-decoration: none;
              font-weight: 700;
              color: $white;
              @include cstFont18();
            }
            // Dropdown hover control //
            .sub-menu {
              visibility: hidden;
              opacity: 0;
              position: absolute;
              z-index: 10;
              height:auto !important;
              left:0;
              top:100%;
              width:auto;
              white-space: nowrap; 
              transition: 0.25s all;
              // add dropdwon styles here //
              background-color: $white;
              border: 1px solid $mainBG;
              border-top:0;
              border-bottom:0;
              li {
                display: block;
                border-bottom:1px solid $mainBG;
                a {
                  justify-content: flex-start;
                  // styling //
                  color: $onxy;
                  font-weight:400; 
                }
                .sub-menu {
                  left: 100%;
                  top:-1px;
                  transition: 0.25s all;
                  li {
                    border-top:1px solid $mainBG;
                    a {
                      color: $mainBG;
                      .sub-menu {
                        // prevent further, only support three tier //
                        display: none; 
                      }
                    }
                    &:last-child {
                      border-top: 0;
                    }
                  }
                }
              }
            }
            // Drodown chevs //
            .bst-opt-chevron-active-cst {
              display: none;
              align-items: center;
              justify-content: center;
              height:100%;
              margin: 0 0 0 5px;
              position: relative;
              right:-5px;
              svg {
                width:12px; height:12px;
              }
            }
          }
          .menu-item-has-children {
            .sub-menu {
              .bst-opt-chevron-active-cst {
                display: none;
              }
              .menu-item-has-children {
                .bst-opt-chevron-active-cst {
                  display: flex;
                  transform: rotate(-90deg);
                  margin: 0 0 0 auto;
                  right:0;
                  // arrow dropdown colour //
                  svg {
                    fill: $onxy;
                  }
                }
                li {
                  // prevent further, only support three tier //
                  .bst-opt-chevron-active-cst {
                    display: none; 
                  }
                }
              }
              
            }
            &:hover {
              .sub-menu {
                visibility: visible;
                opacity: 1;
                li {
                  .sub-menu {
                    visibility: hidden;
                    opacity: 0;
                  }
                  &:hover {
                    .sub-menu {
                      visibility: visible;
                      opacity: 1;
                    }
                  }
                }
              }
            }
            .bst-opt-chevron-active-cst {
              display: flex;
              // arrow desktop colour //
              svg {
                fill: $white;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 998px) {
        display: none;
      }
    }
    .mbl-toggle-wrapp {
      display: none;
      width:30px;
      z-index: 99;
      cursor: pointer;
      span {
        display: block; 
        border: none;
        height: 3px;
        width: 100%;
        transition:  all .35s ease;
        background-color: $white;
        &:nth-of-type(2) {
          margin-top: 7px;
        }
        &:nth-of-type(3) {
          margin-top: 7px;
        }
      }
      &.mbl-toggle-activated {
        span {
          transform: rotate(45deg);
          margin:0;
          &:nth-of-type(2) {
            display: none;
          }
          &:nth-of-type(3) {
            transform: rotate(-45deg);
            margin-top:-3px;
          }
        }
      }
      @media only screen and (max-width: 998px) {
        display: block;
      }
    }
  }
}