@use "./../global/colour_scheme" as *;
#base-master-hdr-cst {
  background-color: $mainBG;
  .container-cst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:75px;
    color: $white;
    .logo-wrapp-cst {
      padding:15px;
      span {
        font-size:2em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .menu-wrapp-cst {
      height:100%;
      // add styles here, hover functionality is taken from global class in key_fundamentals //
       nav {
        ul {
          li {
            a {
              font-weight: 700;
              color: $white;
            }
            .sub-menu {
              background-color: $white;
              border: 1px solid $mainBG;
              border-top:0;
              border-bottom:0;
              li {
                display: block;
                border-bottom:1px solid $mainBG;
                a {
                  color: $onxy;
                  font-weight:400; 
                }
                .sub-menu {
                  border-top:1px solid $mainBG;
                  a {
                    color: $mainBG;
                  }
                }
              }
              .bst-opt-chevron-active-cst {
                svg {
                  fill: $mainBG;
                }
              }
            }
            // change the colour of the chvron without needing to change asset //
            .bst-opt-chevron-active-cst {
              svg {
                fill: $white;
              }
            }
          }
        }
      }
      @media only screen and (max-width: 998px) {
        display: none;
      }
    }
  }
}