@use "./../global/colour_scheme" as *;
@use "./../mixins/global" as *;
@use "./../mixins/font_sizes" as *;

#mbl-menu-ovrr-wrapp {
  position: fixed;
  z-index:50;
  background-color: $mainBG;;
  top: 75px; // or change to your header height //
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  // opacity: 0;
  // visibility: hidden;
  transition: 0.5s all;

  overflow: hidden;


  .mbl-menu-ovrr-inner-wrapp {
    border:2px solid red;
    height:100%;
    overflow-x: scroll;
    @include removeScrollBars();
    nav {
      border:1px solid red;
      height:900px;
      ul {
        list-style-type: none;
        li {
          border:1px solid white; 
          @include cstFont18();
          .sub-menu {
            display: none;
          }
        }
      }
    }
  }
  // active //
  &.activated-mbl-menu-ovrr-wrapp {
    opacity: 1;
    visibility: visible;
  }
  // no show on desktop or whatever breakpoint you want the hamburger to come into touch // 
  @media only screen and (min-width: 998px) {
    display: none;
  }
}