@use './../../utils/mixins' as *;
.basetheme-footer-cst {
	border-top: 10px solid var(--project-primary);
	padding: 25px 0;
	&__inner {
		@include flex(column, wrap, flex-start, flex-start, 1rem);
	}
	&__menu {
		width: 100%;
		ul {
			list-style-type: none;
			font-size: 1.6rem;
		}
	}
	&__terms {
		width: 100%;
		border-top: 1px solid var(--project-primary);
		padding-block: 2rem;
		font-size: 1rem;
	}
}
