.jb-custom-accordion-cst {
  &__item {
    color: var(--black);
    &__title {
      background-color: var(--light-grey);
      padding: 20px 0;
      cursor: pointer;
    }
    &__content {
    }
    .content-to-switch-cst {
      opacity: 0;
      height: 0;
      visibility: hidden;
      transition: all 0.25s;
    }
    &--active {
      .content-to-switch-cst {
        opacity: 1;
        height: auto;
        visibility: visible;
      }
    }
  }
}