.jb-custom-accordion-cst {
  &__item {
    color: var(--black);
    &__title {
      background-color: var(--light-grey);
      padding: 1rem 0;
      cursor: pointer;
      border-bottom: 1px solid var(--white)
    }
    &__content {
      padding: 0;
      p {
        margin:0;
        padding:0;
      }
    }
    .accordion-vis-control-cst {
      opacity: 0;
      height: 0;
      visibility: hidden;
      transition: all 0.25s;
    }
    &[data-status="active"] {
      .accordion-vis-control-cst {
        opacity: 1;
        height: auto;
        visibility: visible;
        padding:2rem;
      }
    }
  }
}