.jb-custom-accordion-cst {
  &__item {
    color: var(--black);
    &__title {
      background-color: var(--light-grey);
      padding: 1.5rem;
      cursor: pointer;
      border-bottom: 1px solid var(--white);
      font-size: var(--font-standard);
    }
    &__content {
      padding: 0;
      p {
        margin: 0;
        padding: 0;
      }
    }
    .accordion-vis-control-cst {
      opacity: 0;
      height: 0;
      visibility: hidden;
      transition: all 0.25s;
    }
    &[data-status='active'] {
      .accordion-vis-control-cst {
        opacity: 1;
        height: auto;
        visibility: visible;
        padding: 2rem;
      }
    }
  }
}
