@use "./../global/colour_scheme" as *;
@use "./../global/typography" as *;
// global button //
.button-cst {
  border: 2px solid $black;
  outline: none;
  position: relative;
  width: auto;
  height: 60px;
  padding:0 30px;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  span {
    position: relative;
    transition: all 0.3s;
  }
  // Icon Element //
  &__icon--btn {
    span {
      &:after {
        content: '>';
        position: absolute;
        right:-15px;
        transition: all 0.5s;
      }
    }
    &:hover {
      span {
        &:after {
          right:-15px;
        }
      }
    }
  }
  // Orange Colour Modifier //
  &--black {
    background-color: $black;
    span {
      color: $white;
    }
    &:hover {
      background-color: $white;
      span {
        color: $black;
      }
    }
  }
  @media only screen and (max-width: 520px) {
    padding: 0 25px;
    height: 40px;
  }
}
