@use "./../global/colour_scheme" as *;
@use "./../global/typography" as *;
// global button //
.button-cst {
  border: 0;
  outline: none;
  position: relative;
  width: auto;
  height: 60px;
  padding:0 30px;
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  transition: all 0.3s;
  cursor: pointer;
  span {
    position: relative;
    transition: all 0.3s;
  }
  // Icon Element //
  &__icon--btn {
    span {
      &:after {
        content: '>';
        position: absolute;
        right:-12px;
        transition: all 0.3s;
        @media only screen and (max-width: 520px) {
          right:-10px;
        }
      }
    }
    &:hover {
      span {
        &:after {
          right:-15px;
        }
      }
    }
  }
  // Orange Colour Modifier //
  &--orange {
    background-color: $default;
    span {
      color: $black;
    }
    &:hover {
    }
  }
  @media only screen and (max-width: 520px) {
    padding: 0 25px;
    height: 40px;
  }
}
// Header Shopping Icon //
.basket-button-cst {
  width:60px;
  height: 60px;
  background-color: $charcoal;
  border:0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    transition: all 0.125s;
  }
  &--wider-btn {
    width: 75px;
  }
  &:hover {
    svg {
      transform: scale(1.075);
    }
  }
}