@use "./../utils/mixins" as *;
.button-cst {
  border: 2px solid var(--project-primary);
  outline: none;
  position: relative;
  width: auto;
  padding:0 1.5rem;
  display: inline-flex;
  align-items: center;
  border-radius: var(--btn-radius-sm);
  transition: all var(--transition-speed);
  height: var(--btn-height-sm);
  cursor: pointer;
  span {
    font-size: var(--btn-font-size);
    position: relative;
    transition: all var(--transition-speed);
  }
  // Icon Element //
  &__icon-w-btn {
    padding: 0 3.5rem 0 2rem;
    span {
      &:after {
        content: '';
        height:1.6rem;
        width:1.6rem; 
        border-radius: 50%;
        background-color: var(--white);
        background-image:url('../../imgs/bootstrap-icons/arrow-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        position: absolute;
        left: calc(100% + 0.75rem);
        transition: all var(--transition-speed);
      }
    }
    &:hover {
      span {
        &:after {
          background-color: var(--highlight-project-primary);
          translate: 0.25rem 0;
        }
      }
    }
  }
  // Orange Colour Modifier //
  &--black {
    background-color: var(--project-primary);
    span {
      color: var(--white);
    }
    &:hover {
      background-color: var(--white);
      span {
        color: var(--black);
      }
    }
  }
}

@include breakpoint('md') {
	.button-cst {
     height: var(--btn-height-lg);
     border-radius: var(--btn-radius-lg);
  }
} 