@use './../utils/mixins' as *;
.button-cst {
  border: 2px solid var(--core-blue);
  border-radius: var(--btn-radius-sm);
  transition: all var(--transition-speed);
  height: var(--btn-height-sm);
  outline: none;
  position: relative;
  width: auto;
  padding: 0 1.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  span {
    font-size: var(--btn-font-size);
    transition: all var(--transition-speed);
    position: relative;
  }
  .button-arrow-cst {
    right: 0;
    font-size: var(--font-size-sm);
  }
  // Icon Element //
  &__icon-w-btn {
    @include inline-flex(row, nowrap, flex-start, center, 1rem);

    &:hover {
      .button-arrow-cst {
        right: -0.25rem;
      }
    }
  }
  // Orange Colour Modifier //
  &--primary {
    background-color: var(--core-blue);
    span {
      color: var(--white);
    }
    &:hover {
      background-color: var(--dark-core-blue);
    }
  }
}
@include breakpoint('md') {
  .button-cst {
    height: var(--btn-height-lg);
    border-radius: var(--btn-radius-lg);
  }
}
