.global-loader-cst {
  position: absolute;
  top:0; left:0;
  width: 100%;
  height:100%;
  background-color: rgba(255,255,255,0.75);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  display: grid;
  align-items: center;
  justify-self: center;
  text-align: center;
  span {
    display: block;
  }
  &--active {
    opacity: 1;
    visibility: visible;
  }
}