.tabbed-content-controller-cst {
  display: flex;
  align-items: center;
  justify-content: center;
  .tabbed-control-input-cst {
    cursor: pointer;
    transition: 0.3s all;
    // Styles below //
    padding:15px;
  }
  .active-tabbed-control-input-cst {
    display: block;
    // Styles below //
    background-color: #eee;
    font-weight: 700;
  }
}

.tabbed-content-display-cst {
  .tabbed-control-output-cst {
    display: none;
    // Styles below //
  }
  .active-tabbed-control-output-cst {
    display: block;
    // Styles below //
    padding: 25px 15px;
    border:1px solid red;
  }
}