.jb-custom-tabs-cst {
  // Title | tabs //
  .jb-custom-tabs-title-cst {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &__item {
      border: 4px solid blue;
      &--active {
        border-color: green;
      }
    }
  }
  .jb-custom-tabs-content-cst {
    overflow: hidden;
    &__item {
      opacity: 0;
      height: 0;
      visibility: hidden;
      transition: all 0.25s;
      &--active {
        opacity: 1;
        height: auto;
        visibility: visible;
      }
    }
  }
}