// [0] Globals //
@use "global/normalize";
@use "global/project_global";
@use "global/wp_image_alignment";

// [1] Global Parts //
@use "global-parts/header/header_main";
@use "global-parts/header/header_mobile_menu";
@use "global-parts/footer/footer_main";

// [2] Template Parts //
@use "template-parts/posts_wrapper";
@use "template-parts/snippets/post_snippet";

// [3] Elements (styles applied from your component, these files just control the neccessary hide/show etc) //
@use "elements/tabbed_content";
@use "elements/pagination";
